{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": {
          "version": 2,
          "proposals" : true
        }
      }
    ]
  ],
  "plugins":[
    ["@babel/plugin-proposal-class-properties", { "preferBuiltins" : true }]
  ]
}